<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainPage</title>
    <link rel="stylesheet" href="../../public/user.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body style="font-size:x-small">
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                Ders Programı
            </div>
            <div class="nav-title-end">
                Öğrenci İşleri Otomasyonu
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>

        <div class="nav-links">
            <a href="/student/mainPage">Ana Sayfa</a>
            <a href="/student/dersAlma">Ders Alma</a>
            <a href="/student/exam-result">Sınav Sonuçları</a>
            <a href="/student/syllabus">Ders Programı</a>
            <a href="/student/ozluk">Özlük Bilgileri</a>
            <a href="/student/lessons">Alınan Dersler</a>
            <a href="/student/messages">Mesajlar</a>
            <a href="/student/logOut">Çıkış Yap</a>
        </div>
    </div>
    <div class="wrap">
        <img src="../public/logo/book.png" class="image-bg">
        <div class="content">
            <div class="row justify-content-center mt-5">
                <div class="col-auto">
                    <table class="table table-bordered table-responsive table-hover" style="height: 400px; width: 800px;">
                        <thead style="background-color: #CDD6FF;">
                            <tr>
                                <th> </th>
                                <th>Pazartesi</th>
                                <th>Salı</th>
                                <th>Çarşamba</th>
                                <th>Perşembe</th>
                                <th>Cuma</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>08.30 - 09.20</td>
                                <td>File Organization <br> Doç.Dr. Derya YILTAŞ KAPLAN</td>
                                <td> </td>
                                <td>Mikroişlemciler <br> Dr.Öğr.Ü M.Erdem İSENKUL</td>
                                <td> </td>
                                <td>Sayısal Metodlar Uyg. <br> Dr.Öğr.Ü Mustafa DAĞTEKİN</td>
                            </tr>
                            <tr>
                                <td>09.25 – 10.15</td>
                                <td>File Organization <br> Doç.Dr. Derya YILTAŞ KAPLAN</td>
                                <td> </td>
                                <td>Mikroişlemciler <br> Dr.Öğr.Ü M.Erdem İSENKUL</td>
                                <td> </td>
                                <td>Sayısal Metodlar Uyg. <br> Dr.Öğr.Ü Mustafa DAĞTEKİN</td>
                            </tr>
                            <tr>
                                <td>10.20 – 11.10</td>
                                <td>File Organization <br> Doç.Dr. Derya YILTAŞ KAPLAN</td>
                                <td>File Organization Uyg. <br> Doç.Dr. Derya YILTAŞ KAPLAN</td>
                                <td> </td>
                                <td> </td>
                                <td>Programming Applications Uyg. <br> Dr.Öğr.Ü Özgür Can TURNA</td>
                            </tr>
                            <tr>
                                <td>11.15 – 12.05</td>
                                <td> </td>
                                <td>File Organization Uyg. <br> Doç.Dr. Derya YILTAŞ KAPLAN</td>
                                <td>Lojik Devre Laboratuarı <br> Dr.Öğr.Ü. Erdem İSENKUL</td>
                                <td>Random & Stochastic Processes <br> Dr.Öğr.Ü Mustafa DAĞTEKİN</td>
                                <td>Programming Applications Uyg. <br> Dr.Öğr.Ü Özgür Can TURNA</td>
                            </tr>
                            <tr>
                                <td>12.10 – 13.00 </td>
                                <td>Formal Diller ve Otomatlar <br> Doç.Dr. Eylem YÜCEL DEMİREL</td>
                                <td>Sayısal Metodlar <br> Dr.Öğr.Ü Mustafa DAĞTEKİN</td>
                                <td>Lojik Devre Laboratuarı <br> Dr.Öğr.Ü. Erdem İSENKUL</td>
                                <td>Random & Stochastic Processes <br> Dr.Öğr.Ü Mustafa DAĞTEKİN</td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>13.05 – 13.55 </td>
                                <td>Formal Diller ve Otomatlar <br> Doç.Dr. Eylem YÜCEL DEMİREL</td>
                                <td>Sayısal Metodlar <br> Dr.Öğr.Ü Mustafa DAĞTEKİN</td>
                                <td> </td>
                                <td>Random & Stochastic Processes <br> Dr.Öğr.Ü Mustafa DAĞTEKİN</td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>14.00 – 14.50 </td>
                                <td>Formal Diller ve Otomatlar <br> Doç.Dr. Eylem YÜCEL DEMİREL</td>
                                <td> </td>
                                <td>Programming Applications <br> Dr.Öğr.Ü Özgür Can TURNA</td>
                                <td>Bilgisayar Organizasyonu ve Tasarımı <br> Dr.Öğr.Ü Fatih KELEŞ</td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>14.55 – 15.45 </td>
                                <td> </td>
                                <td> </td>
                                <td>Programming Applications <br> Dr.Öğr.Ü Özgür Can TURNA</td>
                                <td>Bilgisayar Organizasyonu ve Tasarımı <br> Dr.Öğr.Ü Fatih KELEŞ</td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>15.50 – 16.40 </td>
                                <td> </td>
                                <td> </td>
                                <td>Mikroişlemciler Uyg. <br> Dr.Öğr.Ü M.Erdem İSENKUL</td>
                                <td>Bilgisayar Organizasyonu ve Tasarımı <br> Dr.Öğr.Ü Fatih KELEŞ</td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>16.45-17.35 </td>
                                <td>Kariyer Planlama <br> Doç.Dr. Aysel ERSOY</td>
                                <td> </td>
                                <td>Mikroişlemciler Uyg. <br> Dr.Öğr.Ü M.Erdem İSENKUL</td>
                                <td> </td>
                                <td> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>

</html>